.variants {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.variant img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
